<div th:fragment="frag_index_content" class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Chatbot</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Chatbot Ajax & socket.io</li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card direct-chat direct-chat-primary">
						<div class="card-header ui-sortable-handle" style="cursor: move;">
							<h3 class="card-title">챗봇(팅)</h3>
							
						</div>

						<div class="card-body">

							<div class="direct-chat-messages">

								<div class="direct-chat-msg">
									<div class="direct-chat-infos clearfix">
										<span class="direct-chat-name float-left">Alexander Pierce</span>
										<span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
									</div>

									<img class="direct-chat-img" src="dist/img/user1-128x128.jpg"
										alt="message user image">

									<div class="direct-chat-text">
										Is this template really for free? That's unbelievable!
									</div>

								</div>


								<div class="direct-chat-msg right">
									<div class="direct-chat-infos clearfix">
										<span class="direct-chat-name float-right">Sarah Bullock</span>
										<span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
									</div>

									<img class="direct-chat-img" src="dist/img/user3-128x128.jpg"
										alt="message user image">

									<div class="direct-chat-text">
										You better believe it!
									</div>

								</div>


								<div class="direct-chat-msg">
									<div class="direct-chat-infos clearfix">
										<span class="direct-chat-name float-left">Alexander Pierce</span>
										<span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
									</div>

									<img class="direct-chat-img" src="dist/img/user1-128x128.jpg"
										alt="message user image">

									<div class="direct-chat-text">
										Working with AdminLTE on a great new app! Wanna join?
									</div>

								</div>


								<div class="direct-chat-msg right">
									<div class="direct-chat-infos clearfix">
										<span class="direct-chat-name float-right">Sarah Bullock</span>
										<span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
									</div>

									<img class="direct-chat-img" src="dist/img/user3-128x128.jpg"
										alt="message user image">

									<div class="direct-chat-text">
										I would love to.
									</div>

								</div>

							</div>


							<div class="direct-chat-contacts">
								<ul class="contacts-list">
									<li>
										<a href="#">
											<img class="contacts-list-img" src="dist/img/user1-128x128.jpg"
												alt="User Avatar">
											<div class="contacts-list-info">
												<span class="contacts-list-name">
													Count Dracula
													<small class="contacts-list-date float-right">2/28/2015</small>
												</span>
												<span class="contacts-list-msg">How have you been? I was...</span>
											</div>

										</a>
									</li>

									<li>
										<a href="#">
											<img class="contacts-list-img" src="dist/img/user7-128x128.jpg"
												alt="User Avatar">
											<div class="contacts-list-info">
												<span class="contacts-list-name">
													Sarah Doe
													<small class="contacts-list-date float-right">2/23/2015</small>
												</span>
												<span class="contacts-list-msg">I will be waiting for...</span>
											</div>

										</a>
									</li>

									<li>
										<a href="#">
											<img class="contacts-list-img" src="dist/img/user3-128x128.jpg"
												alt="User Avatar">
											<div class="contacts-list-info">
												<span class="contacts-list-name">
													Nadia Jolie
													<small class="contacts-list-date float-right">2/20/2015</small>
												</span>
												<span class="contacts-list-msg">I'll call you back at...</span>
											</div>

										</a>
									</li>

									<li>
										<a href="#">
											<img class="contacts-list-img" src="dist/img/user5-128x128.jpg"
												alt="User Avatar">
											<div class="contacts-list-info">
												<span class="contacts-list-name">
													Nora S. Vans
													<small class="contacts-list-date float-right">2/10/2015</small>
												</span>
												<span class="contacts-list-msg">Where is your new...</span>
											</div>

										</a>
									</li>

									<li>
										<a href="#">
											<img class="contacts-list-img" src="dist/img/user6-128x128.jpg"
												alt="User Avatar">
											<div class="contacts-list-info">
												<span class="contacts-list-name">
													John K.
													<small class="contacts-list-date float-right">1/27/2015</small>
												</span>
												<span class="contacts-list-msg">Can I take a look at...</span>
											</div>

										</a>
									</li>

									<li>
										<a href="#">
											<img class="contacts-list-img" src="dist/img/user8-128x128.jpg"
												alt="User Avatar">
											<div class="contacts-list-info">
												<span class="contacts-list-name">
													Kenneth M.
													<small class="contacts-list-date float-right">1/4/2015</small>
												</span>
												<span class="contacts-list-msg">Never mind I found...</span>
											</div>

										</a>
									</li>

								</ul>

							</div>

						</div>

						<div class="card-footer">
							<div class="input-group">
								<input type="text" name="message" placeholder="메세지 입력"
									class="form-control" id="inputForm">
								<span class="input-group-append">
									<button type="button" class="btn btn-primary" id="inputBtn">Send</button>
								</span>
							</div>
						</div>

					</div>


				</div>
			</div>

		</div><!-- /.container-fluid -->
	</section>

	<script>
		/**
		 * 기능 정리
		 * - 오른쪽 상단 툴기능(접기, 닫기, 대화참여자등) 제가
		 * - 메세지(질문등) 작성 엔터, send 버튼 클릭 => 이벤트 발생 => 서버측 전송 처리
		 * - 입력된 내용은 입력창제거(비운다)
		 * - 사용자의 입력 내용은 오른쪽 채팅창에 세팅
		 * - 서버측으로 메세지 전송시 방법은 (ajax(단방향) or socket.io(쌍방소켓통신)를 활용)
		 * - 서버측 메세지는 왼쪽 창에 세팅
		 * - 대화 내용은 자동 스크롤(최신 내용이 입력창 위에서 보이게 처리)
		 */

		const KEY_CODE_ENTER = 13; //엔터키 코드

		function initEvent() {
			// 챗봇 화면에 대한 이벤트 초기화
			// 메세지(질문등) 작성 엔터, send 버튼 클릭 => 이벤트 발생
			// 입력창 특정 -> 엔터 이벤트를 리슨처리(이벤트핸들러 연결)
			// $('#inputForm').css("backgroundColor", "pink");
			$('#inputForm').on('keypress', evt => {
				const {keyCode} = evt;
				if(keyCode == KEY_CODE_ENTER) {
					console.log(evt); // 엔터키를 특정해서 조건 처리
					// 사용자 입력값 추출 -> 공백제거, 값이 빈값이면 팝업처리 => 
					let msg = $('#inputForm').val();
					// 서버로 전송
					sendMessage(msg);
					// 입력창에 입력된 글자 삭제
					$('#inputForm').val('');

				}
				
			})
		}

		function sendMessage ( msg) {
			//서버측 전송처리
			console.log("서버 전소 ㅇ메세지", msg);
		}

		function setMessage( dir='right', msg) {
			// 유저, 서버측 메세지 화면처리
			if(dir === 'right') {
				// 유저 메세지
			} else {
				// 서버 메세지
			}
		}

		initEvent();
	</script>
</div>
<!-- /.content-wrapper -->